<% provide(:title, current_user.name)%>

  <h1>Hello <%= current_user.name %>!</h1><br>
  <h1>Welcome to Flatiron Tracker!</h1><br>

  <div class="center">

   <%= link_to "Start Tracking", new_topic_path , class: "btn btn-gd btn-primary" %>

  </div>
