<div class="col-md-6 col-md-offset-3 main-content" >

  <h1 class="text-center" style="color: rgb(0,179,230)"> Welcome <%= @student.name %> to Flatiron School tracker.</h1></br></br>

    <%= link_to new_topic_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-pencil"></i> Start Tracking
    <% end %>

  </div>
</div>
