<% provide(:title, @student.name) %>

  <h1>Hello <%=@student.name%>!</h1><br>
  <h1>Welcome to Flatiron Tracker!</h1><br>

  <div class="center">

    <%= link_to "Start Tracking", student_topics_path(@student, @topic), class: "btn btn-gd btn-primary" %>

  </div>
