<% provide(:title, @student.name) %>

  <h1>Welcome to Flatiron Tracker!</h1><br>

  <div class="row">
   <div class="col-md-6 col-md-offset-4">


    <%= link_to "Start Tracking", topics_path , class: "btn btn-gd btn-primary" %>

  </div>
</div>
