<div class="center jumbotron">

  <h1>Welcome to Flatiron Rails Project</h1>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-md btn-primary" %><br> <br>

  <%= link_to "Login", login_path , class: "btn btn-md btn-primary" %>

</div>

<div class="footer-copyright py-3 text-center">
  © 2018 Copyright:
  <a href="https://github.com/MERCERNYC"> Rails Project by Juliana Fogg</a>
</div>
