<h1>New Subject Created</h1>

<p>
<strong>Subject: </strong>
    <ul>
     <li><%= @subject.name %></li>
    </ul>
</p>

<%= link_to topics_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-step-backward"></i> Back
  <% end %>
