<h1>Subject Created</h1>

<%= link_to edit_subject_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-edit"></i> Edit Subject

<%= link_to edit_subject_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-edit"></i> Back
